*{
    padding: 0%;
    margin: 0%;
   
}

body{
   background-color: antiquewhite;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    background-color: beige;
    width: 100%;
    clear:both;
    content: '';
    display: table;
    margin: auto;
}

.menu{
    width: 900px;
    margin: 0;
}

img{
    width: 120px;
    height: 50px;
    float: left;
    padding: 08px;
}

.nav{
    float: right;
}

nav ul li{
    list-style: none;
    margin-left: 80px;
    padding: 12px 0;
    float: left;
    position: relative;
}

nav ul li a{
    text-decoration: none;
    color: darksalmon;
    font-weight:lighter;
}

nav ul li a::before{
    display: block;
    content: '';
    width: 0%;
    background-color: darksalmon;
    height: 5px;
    top:0;
    position: absolute;
    transition: width 0.2s;
}

.nav li ul{
    display: none;
    position:absolute;
    min-width: 140px;
}


nav ul li a:hover::before {
    width: 100%;
}